<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>


    <add key="tcpPort" value="2404"/>
    <!--端口号，可更改-->
    <add key="tcpConnectMax" value="200"/>
    <!--准备限制200个链接数量-->

    <add key="tcpAllowTimeOut" value="false"/>
    <!--是否允许超时，true：及时超时也不退出，false：超时后自动删除试验，供测试使用-->
    <add key="tcpAllowTimeOutMaxCount" value="25"/>
    <add key="webAllowTimeOut" value="true"/>
    <!--是否允许超时，true：及时超时也不退出，false：超时后自动删除试验，供测试使用-->
    <add key="webAllowTimeOutMaxCount" value="25"/>
  </appSettings>
</configuration>